basePath: /
definitions:
  payments.Payment:
    properties:
      created_at:
        type: string
      id:
        type: string
      user_id:
        type: integer
    type: object
info:
  contact: {}
  description: Dokumentacija za Payment microservice
  title: Payment Service API
  version: "1.0"
paths:
  /payments:
    get:
      description: Returns a list of all payments admaksdmaslkdmaslkdmnaslkdmnasdlkma
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/payments.Payment'
            type: array
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Get all payments
      tags:
      - payments
swagger: "2.0"
