# Default values for payment-service.

replicaCount: 1

image:
  repository: leonalessio/payment-service   # Use your payment service image
  tag: latest
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations:
  prometheus.io/scrape: "true"
  prometheus.io/path: "/metrics"
  prometheus.io/port: "8080"
podLabels: {}

podSecurityContext: {}
securityContext: {}

actualSecrets: {}

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: true
  className: "nginx"
  annotations:
#    cert-manager.io/cluster-issuer: "letsencrypt"
    nginx.ingress.kubernetes.io/rewrite-target: /$2
  hosts:
    - host: hostflow.dev
      paths:
        - path: /payment(/|$)(.*)
          pathType: Prefix
#  tls:
#    - hosts:
#        - hostflow.dev
#      secretName: payment-tls

httpRoute:
  enabled: false
  annotations: {}
  parentRefs:
    - name: gateway
      sectionName: http
  hostnames:
    - chart-example.local
  rules: []

resources: {}

livenessProbe:
  httpGet:
    path: /health/live
    port: 8080
  initialDelaySeconds: 10
  periodSeconds: 10

readinessProbe:
  httpGet:
    path: /health/ready
    port: 8080
  initialDelaySeconds: 5
  periodSeconds: 5

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

volumes: []
volumeMounts: []

nodeSelector: {}
tolerations: []
affinity: {}

# Environment variables for the payment service
env:
  ASPNETCORE_ENVIRONMENT: Development

# Secrets for sensitive information (mapped for .NET)
secrets:
  ConnectionStrings__Supabase:
    key: DATABASE_URL_VALUE
  Stripe__ApiKey:
    key: STRIPE_API_KEY_VALUE