elasticsearchHosts: "http://elasticsearch-master:9200"

replicas: 1

service:
  type: LoadBalancer
  port: 5601

resources:
  requests:
    cpu: "100m"
    memory: "256Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"
