nodeSets:
  - name: master
    count: 1

    config:
      discovery.type: single-node
      xpack.security.enabled: false

    podTemplate:
      spec:
        containers:
          - name: elasticsearch
            resources:
              requests:
                cpu: "200m"
                memory: "1.5Gi"
              limits:
                cpu: "1"
                memory: "2Gi"

    volumeClaimTemplates:
      - metadata:
          name: elasticsearch-data
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 2Gi
